* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  position: relative;
}
.up {
  border: 1px solid black;
  position: fixed;
  bottom: 5%;
  right: 3%;
  border-radius: 50%;
  padding: 1vw 0 0.25vw 1vw;
  z-index: 2;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3d5d5;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.up img {
  width: 70%;
  filter: grayscale(100%);
}

.loader {
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: #111;
  color: white;
}

.loader .topHeader {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.topHeader h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7vw;
  font-weight: 500;
}

.loader h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 4vw;
  font-size: 400;
}

.loader h1 span {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.green {
  /* display: none; */
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0vh;
  z-index: 9999;
  background: #14cf93;
}

.reveal {
  overflow: hidden;
}

.child span {
  display: inline-block;
}

.reveal .parent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reveal .parent .child {
  display: block;
}

.home {
  width: 100%;
  height: 90vh;
  background: rgb(255, 255, 255);
}

.home nav {
  /* border-bottom: 1px solid #14cf93; */
  padding: 0 5vw 1vw;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  gap: 50%;
  align-items: center;
  padding-top: 7vw;
  height: 100px;
}

.home nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1vw;
  color: black;
}
.home nav div {
  /* background: red; */
  /* width: ; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4vw;
  /* padding-bottom: 1vw; */
  /* border-bottom: 2px solid #14cf93; */
  /* box-shadow: 1px 2px 10px #14cf93; */
}
.home nav a span {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: black;
  transition: all 1s ease;
}
.home nav .im {
  /* background: red; */
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  padding: 0.8vw 0.8vw 0.8vw 1vw;
  width: 8%;
}
.home nav a img {
  width: 100%;
}
@media (max-width: 480px) {
  .home nav .im {
    width: 12%;
  }
  .home nav {
    gap: 5%;
  }
}
@media (max-width: 780px) {
  .home nav .im {
    width: 12%;
  }
  .home nav {
    gap: 5%;
  }
}
#left {
  left: 0;
  width: 0;
  transition: all 1s ease;
  transition-delay: 0.2s;
}

#right {
  right: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.home nav a:hover #left {
  width: 100%;
}

.home nav a:hover #right {
  width: 0;
}

.row1 {
  display: flex;
  justify-content: space-around;
  line-height: 1;
  padding-right: 12vw;
  min-width: 80%;
  padding-left: 40px;
  margin-top: 5vh;
  overflow: hidden;
}

.row1 h1 {
  font-size: 13vw;
  color: #292929;
}
.timings {
  margin-top: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
.timings .text {
  overflow: hidden;
}
.row1 .text {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.row1 h5 {
  opacity: 0.6;
  color: #828080;
  font-size: 0.7vw;
}

.row2 {
  margin-top: 3vw;
  perspective: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1;
  gap: 10%;
  padding-right: 12vw;
  width: 100%;
  overflow: hidden;
  padding-left: 10vw;
}

.row2 .gereen {
  color: #14cf93;
  font-size: 11vw;
  position: relative;
  top: 0;
  display: inline;
}

.row2 h1 {
  font-size: 11vw;
  color: #292929;
}
.row2 a {
  width: 100%;
}
.row2 img {
  width: 200%;
  padding: 10px;
  background: rgb(218, 218, 218);
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 0;
  transition: all 1s;
}

.row2 img:hover {
  background: #b1aeae;
  cursor: pointer;
}

/* Responsive Design */

@media only screen and (max-width: 1200px) {
  .home {
    height: 220vh;
  }

  .home nav {
    padding-top: 1.5vw;
    height: 120px;
  }

  .home nav a {
    font-size: 1.2vw;
  }

  .row1 {
    padding: 0 5vw;
    padding-right: 10vw;
    min-width: 90%;
    padding-left: 20px;
    margin-top: 15vh;
  }

  .row1 h1 {
    font-size: 14vw;
  }

  .row1 .text {
    margin-top: 6vh;
  }

  .row2 {
    padding-right: 10vw;
    width: 90%;
    padding-left: 5vw;
  }

  .row2 h1 {
    font-size: 12vw;
  }

  .row2 img {
    width: 12%;
    padding: 10px 20px;
    height: 12%;
  }
}

@media (max-width: 768px) {
  .home {
    height: 50%;
    padding: 5vw 2vw;
  }

  .home nav {
    padding-top: 1vw;
    height: 100px;
    width: 100%;
  }

  .home nav a {
    font-size: 3vw;
  }

  .row1 {
    padding: 0 0vw;
    width: 95%;
    padding-left: 10px;
    margin: 4vw 2vw;
    gap: 3vw;
  }

  .row1 h1 {
    font-size: 14vw;
  }
  .row1 h5 {
    font-size: 1.7vw;
  }
  .timings {
    margin-top: -5vw;
    display: flex;
    gap: 3vw;
  }

  .row1 .text {
    display: flex;
    gap: 0vw;
    font-size: 2.2vw;
  }

  .row2 {
    padding: 1vw 2.5vw;
    margin: 0 3vw;
    width: 95%;
    gap: 5%;
  }

  .row2 .gereen {
    font-size: 10vw;
  }
  .row2 h1 {
    font-size: 14vw;
  }

  .row2 img {
    width: 7%;
    padding: 2px 2px;
    height: 7%;
  }

  .row2 a {
    width: 100%;
  }
  .row2 img {
    width: 200%;
    padding: 4px;
    background: rgb(218, 218, 218);
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 0;
    margin-right: 1vw;
    transition: all 1s;
  }

  .row2 img:hover {
    background: #b1aeae;
    cursor: pointer;
  }
  .loader h3 {
    font-size: 2vw;
  }
  .up {
    bottom: 6%;
    right: 6%;
    padding: 1.5vw 0 0.25vw 2vw;
    width: 10%;
  }
}

@media (max-width: 480px) {
  .home {
    height: 50%;
  }
  .loader h3,
  h1 {
    font-size: 3.5vw;
  }
  .home nav {
    padding-top: 1vw;
    height: 100px;
    width: 100%;
  }

  .home nav a {
    font-size: 3vw;
  }

  .row1 {
    padding: 0 2vw;
    width: 95%;
    padding-left: 10px;
    margin-top: 0.5vh;
    flex-direction: column;
    align-items: start;
    gap: 0vw;
  }

  .row1 h1 {
    font-size: 12vw;
    padding: 0 10vw;
  }
  .row1 h5 {
    font-size: 1.7vw;
  }

  .timings {
    margin-top: -5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-left: 45vw;
  }

  .row1 .text {
    display: flex;
    gap: 0vw;
    font-size: 2.2vw;
  }

  .row2 {
    /* margin-top: 3vw; */
    padding: 1vw 2.5vw;
    width: 95%;
    gap: 1%;
    margin-top: 10vw;
  }

  .row2 .gereen {
    font-size: 10vw;
  }
  .row2 h1 {
    font-size: 12vw;
  }

  .row2 img {
    width: 2%;

    padding: 2px 2px;
  }

  .row2 a {
    width: 4%;
  }
  .row2 img {
    width: 200%;
    padding: 4px;
    background: rgb(218, 218, 218);
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 0;
    margin-right: 1vw;
    transition: all 1s;
  }

  .row2 img:hover {
    background: #b1aeae;
    cursor: pointer;
  }

  .up {
    bottom: 6%;
    right: 6%;
    padding: 1.5vw 0 0.25vw 2vw;
    width: 10%;
  }
}
.about {
  background-color: #f1f7f7;
  padding: 0 5vw;
  position: relative;
  /* min-height: 200vh; */
  overflow: hidden;
}

.about h1 {
  color: #85fbd8;
  font-size: 40vw;
  /* padding: 0 5vw; */
  font-weight: 500;
  text-transform: uppercase;
  /* border: 2px solid #000000; */
}

.innerabout {
  top: 15%;
  position: absolute;
  padding: 2vw 5vw 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: transparent;
}

.leftabout p {
  /* border: 2px solid #07e672; */
  padding: 2vw;
  /* border-radius: 25px; */
  text-align: left;
  color: #1d1f1e;
  width: 60%;
  height: 50%;
  font-size: 1.5vw;
  font-weight: 600;
  /* background: transparent; */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  line-height: 2;
}

.rightabout {
  width: 100%;
  background: transparent;
}

.rightabout img {
  width: 80%;
  border-radius: 25px;
  border: 2px solid black;
}

@media (max-width: 780px) {
  .about {
    padding: 0 0.5vw;
    margin-top: 10vw;
    min-height: 150vh;
  }
  .about h1 {
    font-size: 40vw;
    padding: 20vw 0;
  }
  .innerabout {
    padding: 5vw;
    flex-direction: column;
    gap: 15vw;
  }
  .leftabout p {
    margin-left: 3vw;
    padding: 2vw;
    width: 90%;
    line-height: 1;
    font-size: 4vw;
    border-radius: 8px;
    margin-bottom: 5vw;
  }
  .rightabout img {
    width: 70%;
    margin: 0 10vw;
  }
}

@media (max-width: 780px) {
  .about {
    padding: 0.5vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    min-height: 130vh;
  }
  .about h1 {
    font-size: 60vw;
    padding: 20vw 0;
    color: #7cf4b6;
  }
  .innerabout {
    padding: 5vw;
    flex-direction: column;
    gap: 10vw;
  }
  .leftabout p {
    margin-left: 3vw;
    padding: 2vw;
    width: 90%;
    line-height: 1;
    font-size: 4vw;
    border-radius: 8px;
    margin-bottom: 5vw;
  }
  .rightabout img {
    width: 70%;
    margin: 2vw 10vw;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 0.5vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    min-height: 120vh;
  }
  .about h1 {
    font-size: 50vw;
    padding: 40vw 0;
  }
  .innerabout {
    padding: 5vw;
    flex-direction: column;
    gap: 4vw;
  }
  .leftabout p {
    margin-left: 3vw;
    padding: 2vw;
    width: 90%;
    line-height: 1;
    font-size: 4vw;
    border-radius: 8px;
    margin-bottom: 5vw;
  }
  .rightabout img {
    width: 80%;
    margin: 2vw 10vw;
  }
}

.study {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;
  height: 100vh;
  flex-direction: column;
  padding: 2vw 15vw;
}
.study h1 {
  overflow: hidden;
  color: #3cf8b9;
  font-size: 10vw;
  font-weight: 500;
  text-align: center;
  /* background: red; */
  width: 100%;
}
.innerStudy {
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
}
.studyskills {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: linear-gradient(180deg, #3c594a, rgb(0, 0, 0));
  border-radius: 100px;
  padding: 3vw 2vw;
  gap: 2vw;
  border: 2px solid #999b9a;
  overflow: hidden;
  cursor: pointer;
  /* box-shadow: 0 0 5px #07e672; */
  transition: box-shadow 0.1s ease-in-out;
}

.studyskills:hover {
  box-shadow: 3px 3px 20px #000000;
  border: 2px solid #00ff7b;
  /* width: 9%; */
}
.studyskills img {
  width: 100%;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.studyskills h5 {
  transform: translateY(100px);
  font-size: 1.8vw;
  color: white;
  text-align: center;
  transition: all 1s ease;
}
.studyskills:hover img {
  transform: translateY(-10px);
}
.studyskills:hover h5 {
  transform: translateY(0px);
}
@media (max-width: 480px) {
  .study {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vw;
    height: 50vh;
    flex-direction: column;
    padding: 0vw 5vw;
    margin: 5vw 0;
  }
  .study h1 {
    font-size: 25vw;
  }
  .innerStudy {
    display: flex;
    margin-top: 5vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .studyskills {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: linear-gradient(180deg, #87bda1, rgb(0, 0, 0));
    border-radius: 100px;
    padding: 5vw 3vw;
    gap: 2vw;
    border: 2px solid #07e672;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #07e672;
    transition: box-shadow 0.1s ease-in-out;
  }
  .studyskills:hover {
    box-shadow: 3px 3px 20px #000000;
    width: 20%;
  }
  .studyskills img {
    width: 100%;
    transform: translateY(0px);
    transition: all 0.5s ease;
  }
  .studyskills h5 {
    transform: translateY(0px);
    font-size: 2.5vw;
    color: white;
    text-align: center;
    transition: all 1s ease;
  }
  .studyskills:hover img {
    transform: translateY(0px);
  }
  .studyskills:hover h5 {
    transform: translateY(0px);
  }
}
@media (max-width: 780px) {
  .study {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vw;
    height: 90vh;
    flex-direction: column;
    padding: 0vw 5vw;
    margin: 5vw 0;
  }
  .study h1 {
    font-size: 15vw;
  }
  .innerStudy {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .studyskills {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: linear-gradient(360deg, #87bda1, rgb(0, 0, 0));
    border-radius: 100px;
    padding: 5vw 3vw;
    gap: 2vw;
    border: 2px solid #07e672;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #07e672;
    transition: box-shadow 0.1s ease-in-out;
  }
  .studyskills:hover {
    box-shadow: 3px 3px 20px #000000;
    width: 20%;
  }
  .studyskills img {
    width: 100%;
    transform: translateY(0px);
    transition: all 0.5s ease;
  }
  .studyskills h5 {
    transform: translateY(0px);
    font-size: 2.5vw;
    color: white;
    text-align: center;
    transition: all 1s ease;
  }
  .studyskills:hover img {
    transform: translateY(0px);
  }
  .studyskills:hover h5 {
    transform: translateY(0px);
  }
}
.education {
  padding: 3vw 5vw 5vw;
  background: rgb(248, 247, 247);
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 3vw;
}

.education::after {
  content: "";
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 48%;
  background-color: #07e672;
}

.education p {
  font-size: 6vw;
  color: #4afca0;
  text-align: center;
}

.innerEdu {
  /* background: white; */
  position: relative;
  height: 100%;
}

.edu {
  width: 20%;
  position: absolute;
  padding: 2vw;
}

.dot1::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-color: #07e672;
}

.dot3::before {
  content: "";
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-color: #07e672;
}

.dot2::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-color: #07e672;
}

.edu h1 {
  position: relative;
  font-size: 1.6vw;
  color: #363636;
}

.edu h2 {
  margin: 0.3vw 0;
  font-size: 1vw;
  color: #5c5f5e;
}

#e1 {
  top: 17%;
  left: 33%;
}

#e2 {
  top: 43%;
  left: 52%;
}

#e3 {
  top: 73%;
  left: 35%;
}

@media (max-width: 480px) {
  .education {
    padding: 0.5vw;
    position: relative;
  }
  .education p {
    font-size: 15vw;
  }
  .edu {
    /* background: red; */
    width: 40%;
  }
  .edu h1 {
    font-size: 5vw;
  }
  .edu h2 {
    font-size: 4.5vw;
  }
  #e1 {
    top: 100%;
    left: 1%;
  }

  #e2 {
    top: 25%;
    left: 55%;
  }

  #e3 {
    top: 55%;
    left: 12%;
  }
  .education::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 48%;
    background-color: #07e672;
  }
  .dot1::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }

  .dot3::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }

  .dot2::after {
    content: "";
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }
}
@media (max-width: 780px) {
  .dot1::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }

  .dot3::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }

  .dot2::after {
    content: "";
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }
  .education {
    padding: 0.5vw;
    position: relative;
  }
  .education p {
    font-size: 12vw;
  }
  .edu {
    /* background: red; */
    width: 40%;
  }
  .edu h1 {
    font-size: 4vw;
  }
  .edu h2 {
    font-size: 3.5vw;
  }

  .education::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 48%;
    background-color: #07e672;
  }
  .dot1::before {
    content: "";
    position: absolute;
    top: 100%;
    right: -10px;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }

  .dot3::before {
    content: "";
    position: absolute;
    top: 170%;
    right: -11px;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }

  .dot2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -26px;
    transform: translateX(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #07e672;
  }
  #e1 {
    top: 2%;
    left: 12%;
  }

  #e2 {
    top: 20%;
    left: 55%;
  }

  #e3 {
    top: 50%;
    left: 12%;
  }
}
.portfolio {
  padding: 4vw 2.5vw 4vw;
  /* margin: 2vw 1vw; */
  gap: 1vw;
  background: #f3f0f0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.div1 {
  border: 2px solid #14cf93;
  /* width: 100%; */
  background: #000000;
  gap: 2vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.div1 div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fffefe;
  padding: 2vw;
  border-radius: 5px;
}
.div1 div p {
  font-size: 2vw;
  /* background: black; */
  color: black;
  margin-top: 1vw;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}
.portfolio div img {
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
}

.portfolio div {
  position: relative;
}

.alaghai {
  height: 100vh;
  background: red;
  font-size: 20vw;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .div {
    padding: 3vw;
    width: 90%;
    height: 45%;
  }
  .portfolio div img {
    width: 85%;
  }
}

@media only screen and (max-width: 780px) {
  .div1 {
    padding: 1vw;
    width: 100%;
    height: 35%;
  }
  .portfolio div img {
    width: 100%;
  }
  .portfolio div p {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .div1 {
    padding: 1vw;
    width: 100%;
    height: 35%;
  }
  .portfolio div img {
    width: 100%;
  }
  .portfolio div p {
    font-size: 5vw;
  }
}

.contact {
  margin-top: 3vw;
  background: #272727;
  border-radius: 20% 20% 0 0;
  border-top: 5px solid #14cf93;
  padding: 0 2vw 1vw;
  display: flex;
  justify-content: center;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.links img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.first h1 {
  color: white;
  font-weight: 600;
}
.first h2 {
  color: #14cf93;
  font-weight: 600;
}
.links img {
  width: 2%;
}

.first h1 span {
  color: #14cf93;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.innerdiv {
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second h3 {
  color: white;
  font-weight: 200;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 0.1vw;
  width: 70%;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 2vw;
  border-radius: 5% 5% 0 0;
  border-top: 2px solid white;
  padding: 2vw;
}

.second input {
  background: transparent;
  outline: none;
  border: none;
  margin-top: 0.5vw;
  font-size: 1.1vw;
  width: 50%;
  color: white;
}

.second textarea {
  width: 50%;
  background: transparent;
  outline: none;
  border: none;
  margin-top: 0.5vh;
  color: white;
  font-size: 1.1vw;
}

.contact button {
  background: #14cf93;
  padding: 1vw 3vw;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.3vw;
}

.contact button:hover {
  color: rgb(27, 26, 26);
}
/* 
@media only screen and (max-width: 1200px) {
  .contact{
    padding: 1.5vw;
  }
  .first{
    gap: 0.5vw;
  }
  .links{
    gap: 1vw;
  }
  .links img{
    width: 3%;
  }
  .second{
    width: 80%;
    padding: 1.5vw;
  }
  .second input{
    width: 60%;
  }
  .second textarea{
    width: 60%;
  }
  .contact button{
    padding: 0.5vw 2vw;
    font-size: 1vw;
  }
} */

@media only screen and (max-width: 780px) {
  .contact {
    margin-top: 10vw;
    border-radius: 10% 10% 0 0;
    padding: 1vw 2vw 5vw;
  }
  .first {
    gap: 0.6vw;
  }
  .first h1 {
    font-size: 6vw;
  }
  .first h2 {
    font-size: 4vw;
  }
  .links {
    gap: 2vw;
  }
  .links img {
    width: 6%;
    background: #272727;
    padding: 0.5vw;
    /* border-radius: 50%; */
  }
  .second {
    width: 100%;
    padding: 10vw;
    border-radius: 15% 15% 0 0;
  }
  .second h3 {
    font-size: 3vw;
  }
  .second input {
    width: 80%;
    font-size: 3vw;
  }
  .second textarea {
    width: 80%;
    font-size: 3vw;
  }
  .contact button {
    padding: 1vw 8vw;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 480px) {
  .contact {
    margin-top: 10vw;
    border-radius: 10% 10% 0 0;
    padding: 1vw 2vw 5vw;
  }
  .first {
    gap: 0.6vw;
  }
  .first h1 {
    font-size: 6vw;
  }
  .first h2 {
    font-size: 4vw;
  }
  .links {
    gap: 2vw;
  }
  .links img {
    width: 6%;
    background: #272727;
    padding: 0.5vw;
    /* border-radius: 50%; */
  }
  .second {
    width: 100%;
    padding: 10vw;
    border-radius: 5% 5% 0 0;
  }
  .second h3 {
    font-size: 3vw;
  }
  .second input {
    width: 80%;
    font-size: 3vw;
  }
  .second textarea {
    width: 80%;
    font-size: 3vw;
  }
  .contact button {
    padding: 1vw 8vw;
    font-size: 4vw;
  }
}
